## Functions

Blcok of the statement that perform a specific task

##### Synatx

def func_name(param1, param2):

    #statement
    
    return val
    
func_name(arg1,arg2) # fucntion call

In [4]:
def sum(a,b):
    s = a + b
    print(s) # return also work same
    
sum(2,3)

5

In [5]:
# sep = ""
# end = "\n"

## Type of functions

#### 1. Bulit-in functions

print()

len()

type()

range()

#### 2. User defiend functions

In [7]:
def converter (USD_val):
    INR_val = (USD_val * 83)
    print(USD_val,"USD =",INR_val,"INR")

converter(1)

1 USD = 83 INR

## Recursion

when a function calls itself repeatedly

In [13]:
def show(n):
    if(n==0): # Base case
        return
    print(n)
    show(n-1)
    print("END")
show(5)

5
4
3
2
1
END
END
END
END
END

In [15]:
def fact(n):
    if(n==0 or n==1):
        return 1
    else:
        return n*fact(n-1)
fact(5)

120

In [18]:
# sum of n number

def calc_sum(n):
    if(n == 0):
        return 0
    return calc_sum(n-1) + n

sum = calc_sum(5)
print(sum)

15

In [19]:
def print_list(list,idx = 0):
    if(idx == len(list)):
        return
    print(list[idx])
    print_list(list,idx+1)
    
fruits = ["apple","grapes","litchi","banana"]
print(list(fruits))

['apple', 'grapes', 'litchi', 'banana']