# Python Type Error

When we write code it is common that we make a typo or some other common error.

### 1. Syntax Error

In [1]:
>>> print 'hello world'
  File "<stdin>", line 1
    print 'hello world'
          ^
#SyntaxError: Missing parentheses in call to 'print'. Did you mean print('hello world')?

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2705956507.py, line 1)

In [ ]:
# Fix
>>> print('hello world')
hello world

### 2.Name Error

In [3]:
>>> print(age)

#NameError: name 'age' is not defined

NameError: name 'age' is not defined

In [ ]:
# FIX 
>>> age = 25
>>> print(age)
25

### 3.Index Error

In [4]:
>>> numbers = [1, 2, 3, 4, 5]
>>> numbers[5]

#IndexError: list index out of range

IndexError: list index out of range

### 4. ModuleNotFound Error

In [5]:
>>> import maths

#ModuleNotFoundError: No module named 'maths'

ModuleNotFoundError: No module named 'maths'

In [ ]:
# FIX

>>> import math

### 5. Attribute Error

In [6]:
>>> import math
>>> math.PI

# AttributeError: module 'math' has no attribute 'PI'

AttributeError: module 'math' has no attribute 'PI'

In [ ]:
# FIX

>>> math.pi
3.141592653589793

### 6. Key Error

In [7]:
>>> user = {'name': 'Suni', 'age': 25, 'country': 'Finland'}
>>> user['county']

# KeyError: 'county'

KeyError: 'county'

In [ ]:
# FIX

>>> user['country']
'Finland'

### 7. Type Error

In [8]:
>>> 4 + '3'

# TypeError: unsupported operand type(s) for +: 'int' and 'str'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# FIX

>>> 4 + int('3')
7
>>> 4 + float('3')
7.0

### 8. Import Error

In [9]:
>>> from math import power

# ImportError: cannot import name 'power' from 'math'

ImportError: cannot import name 'power' from 'math' (unknown location)

In [ ]:
# FIX

>>> from math import pow
>>> pow(2, 3)
8.0

### 9. Value Error

In [10]:
>>> int('12a')

# ValueError: invalid literal for int() with base 10: '12a'

ValueError: invalid literal for int() with base 10: '12a'

### 10. ZeroDivision Error

In [11]:
>>> 1 / 0

# ZeroDivisionError: division by zero

ZeroDivisionError: division by zero